{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        {% if msg %}
            <p style="background: red" >{{ msg }}</p>
        {% endif %}

        <div class="login">
            <form action="{{ path('register') }}" method="post" >
                <div class=" login-do" style="width: 500px;height:500px;margin: auto">
                    <div class="login-mail">
                        <input name="name" type="text" placeholder="Name" required="">
                        <i  class="glyphicon glyphicon-user"></i>
                    </div>

                    <div class="login-mail">
                        <input name="email" type="text" placeholder="Email" required="">
                        <i  class="glyphicon glyphicon-envelope"></i>
                    </div>
                    <div class="login-mail">
                        <input name="password" type="password" placeholder="Password" required="">
                        <i class="glyphicon glyphicon-lock"></i>
                    </div>

                    <label class="hvr-skew-backward">
                        <input name="register" type="submit" value="Register">
                    </label>

                </div>

                <div class="clearfix"> </div>
            </form>
        </div>

    </div>


{% endblock %}

{% block stylesheets %}

{% endblock %}
